body {
    margin: 0;
    font-family: Arial;
}

.header_main {
    /* margin: 5vh; */
    margin-top: 3vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.header_first {
    margin-left: 4vh;
    display: inline-block;
    margin-right: 4vh;
    max-width: 1vh;
    padding: 10vh;
    background: #888;
}

.header_second {
    display: inline-block;
    padding: 10vh;
    padding-inline-end: 50vh;
    background: #888;
    margin-right: 4vh;
}

.header_third {
    padding-left: 53.3vh;
    
    display: inline-block;
    position: absolute;
    padding-top: 6vh;
    padding-bottom: 7vh;
    text-align: end;
    background: #888;
    color: #fff;
    font-size: 2vh;
}

.contact_text {
    margin-right: 5vh;
}

.header_end_line {
    margin-right: 3.2vh;
    margin-top: 2vh;
    margin-left: 4vh;
    background-color: #888;
    padding: 1px;
}

.content {
    margin-top: 2vh;
    margin-left: 9vh;
}
.main_article {
    padding-right: 18vh;
    display: inline-block;
    background: #ddd;
}

.main_article_text {
    font-size: 14px;
    line-height: 6px;
    margin-left: 2vh;
}
.main_article_title {
    margin-left: 2vh;
}

.center {
    margin-left: 3vh;
    position: absolute;
    display: inline-block;
}

.article_text_addition {
    display: inline-block;
    color: #666;
}

.article_text_main {
    display: inline-block;
    color: black;
}

.left {
    display: inline-block;
    max-width: 30vh;
    background: #888;
    color:#fff;
    text-align: left;
    font-size: 14px;

}

.end_left_block {
    margin-left: -33vh;
    padding-right: 30vh;
    margin-top: -25vh;
    padding-top: 20vh;
    max-width: 26vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    background-color: #666;
}

.menu-elements {
    font-size: 14px;
    margin: 2vh;
}

a {
    color: #fff;
}

a:hover {
    color: #c5cced;
    transition: 0.4s;
}

.article_text {
    display:inline-block;
}
.blocks {
    margin-top: 2vh;
}

.block_line_1 {
    display: grid;
    grid-template-columns: 28vh 28vh 28vh 28vh 27vh;
    grid-template-rows: 28vh;
}

.block {
    background: #ddd;
    margin-right: 2vh;
}

.block_line_2{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 28vh 28vh;
    grid-template-rows: 28vh;
}


.bottom_articles_blocks {
    margin-top: 2vh;
}

.text_block_article_left {
    display: inline-block;
    background: #ddd;
    padding-right: 35vh;
}

.bottom_left_block_text {
    color: #666;
    font-size: 14px;
    margin: 2vh
}

.text_block_article_right {
    margin-left: 2vh;
    display: inline-block;
    background: #ddd;
    padding-right: 28vh;

}

.bottom_right_block_text {
    color: #666;
    font-size: 14px;
    margin: 2vh
}

.article_end_line {
    margin-right: 8vh;
    margin-top: 50vh;
    background: #666;
    margin-bottom: 5vh;
    padding-bottom: 1px;
}

.end_lists {
    display: grid;
    grid-template-columns: 50vh 60vh 60vh;
    /* grid-template-rows: 20vh; */
}
.points_list {
    background-color: #666;
}
.tarifs_list {
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #666;
}
.end_list_block {
    display: grid;
    grid-template-rows: 4vh 4vh;
}
.end_list_block {
    background-color: #666;
}
#end_list_block1 {
    margin-bottom: 2vh;
}
.points_list {
    color: #fff;
    font-size: 18px;
    display: grid;
    grid-template-columns: 20vh 20vh;
    
}
ul {
    list-style-type: none;
}

.tarifs_list {
    font-size: 18px;
    color: #fff;
}