html {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* margin-inline: 10px; */
}

body {
    margin: 0;
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial;
    margin-bottom: 6vh;
}

.header_main {
    display: grid;
    grid-template-columns: 10% 20% 70% ;
    grid-template-rows: 15vh;
}

.header_first {
    margin-right: 20px;
    background: #888;
}

.header_second {
    padding-inline-end: 25%;
    background: #888;
    margin-right: 20px;
}

.header_third {
    text-align: end;
    background: #888;
    color: #fff;
    font-size: 2vh;
}

.contact_text {
    margin-top: 4vh;
    margin-right: 2.5%;
}

.header_end_line {
    width: 98vw;
    max-width: 1000%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #888;
    padding: 1px;
}

.main_article {
    overflow-wrap: break-word;
    /* padding-right: -1vw; */
    max-width: 945px;
    font-size: 14px;
    background: #ddd;
    
}

.main_article_text {
    /* font-size: 0.7vw; */
    line-height: 6px;
}

.main_article_title {
    width: 100%;

    /* font-size: 100%; */
    margin-left: 1vw;
}

.content {
    width: 100%;
}

.center {
    /* min-width: 50vw; */
    max-width: 945px;
    margin-left: 1vw;
    /* margin-left: 0%; */
    position: absolute;
    display: inline-block;
}

.article_text_addition {
    margin: 1%;
    display: inline-block;
    color: #666;
}

.article_text_main {
    display: inline-block;
    color: black;
}

.left {
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 20%;
    text-align: left;
}

.menu {
    
    background: #888;
}

.menu-elements {
    overflow-wrap: break-word;
    max-width: 20vw;
    color:#fff;
    font-size: 14px;
    margin: 5%;
}

a {
    color: #fff;
}

a:hover {
    color: #c5cced;
    transition: 0.4s;
}

.blocks {
    /* width: 59vw; */
    max-width: inherit;
    margin-top: 2vh;
}

.block_line_1 {
    /* max-width: 50vw; */
    /* min-width: 51vw; */
    /* width: 53vw; */
    display: grid;
    grid-template-columns: 8fr 1fr 8fr 1fr 8fr 1fr 8fr 1fr 8fr ;
    grid-template-rows: 20vh;
}

.block_line_2 {
    /* width: 53vw; */
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 8fr 1fr 8fr 1fr 8fr 1fr 8fr 1fr 8fr ;
    grid-template-rows: 20vh;
}


.block {
    background: #ddd;
    /* margin-right: 1vw; */
    
}
.block_end {
    background: #ddd;
}


.end_left_block {
    /* min-width: 237px; */
    /* display: inline-block; */
    width: 100%;
    /* padding-right: 7vw; */
    padding-bottom: 25vh;
    max-width: 20%;
    background-color: #666;
}

.bottom_articles_blocks {
    margin-inline: 0vw;
    max-width: 945px;
    font-size: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 52vw;  */
    /* max-width: fit-content; */
    /* position: absolute; */
    /* grid-template-columns: 41vw 41vw; */
    /* grid-template-rows: 100%; */
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.text_block_article_left {
    display: inline-block;
    background: #ddd;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;}

.text_block_article_right {
    margin-left: 50vw;
    display: inline-block;
    background: #ddd;
    margin: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}


.bottom_left_block_text {
    color: #666;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}


.bottom_right_block_text {
    color: #666;
    font-size: 14px;
    margin: 1%;
}

.article_end_line {

    margin-top: 2.5%;
    background: #666;
    margin-bottom: 1.25%;
    padding-bottom: 1px;
}

.end_lists {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.points_list {
    background-color: #666;
}

.tarifs_list {
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #666;
}

.end_list_blocks {
    display: grid;
    grid-template-columns: 1fr;

}

.end_list_block {
    /* padding-bottom: 50vh; */
    background-color: #666;
}

#end_list_block1 {
    margin-bottom: 2vh;
}

.points_list {
    overflow-wrap: break-word;
    color: #fff;
    font-size: 100%;
    display: grid;
    grid-template-columns: 20vh 20vh;
    
}

ul {
    list-style-type: none;
}

.tarifs_list {
    font-size: 18px;
    color: #fff;
}
